@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.floating-navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 85px;
  background-color: rgb(48, 37, 255);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  z-index: 1;
  box-shadow: 2px 2px 5px rgb(137, 120, 196);
  text-decoration: none;
}

.navbar-left img {
  width: 55px;
  height: 55px;
  margin-right: 15px;
}

.navbar-left button {
  display: flex;
  align-items: center;
  margin-left: 10px;
  font-size: 40px;
  font-family: 'Fredoka One';
  cursor: pointer;
  border: none;
  background-color: transparent;
  color: white;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);
  text-decoration: none; /* Added to remove underline */
  transition: all 0.2s ease-in-out;
}

.navbar-left button:hover {
  transform: scale(1.05);
}

.navbar-buttons {
  display: flex;
  align-items: center;
}

.navbar-right {
  margin-right: 60px;
  padding-right: 20px;
}

.navbar-right button {
  background-color: #fff;
  width: 55px;
  height: 55px;
  font-size: 30px;
  border: none;
  padding: 0;
  margin-left: 25px;
  cursor: pointer;
  border-radius: 80%;
  transition: all 0.2s ease-in-out;
}

.navbar-right button:hover {
  transform: scale(1.1);
  box-shadow: 0px 0px 10px rgb(158, 55, 196);
}