/* MyWalletPage.css */

.my-wallet-page {
  padding: 20px;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

p {
  font-size: 18px;
  margin-bottom: 40px;
  color: #666;
}

.wallet-info-container {
  margin-bottom: 40px;
}

.active-bets,
.past-bets {
  width: 48%; /* Each component takes up 48% of the horizontal space */
  padding: 20px;
  flex: 1;
}
