@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;600&display=swap');

.betting-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 25px;
  margin-top: 120px;
  margin-bottom: 35px;
  padding: 0 40px;
}

.tile {
  background-color: #fff;
  font-family: 'Rubik', sans-serif;
  padding: 16px;
  border-radius: 15px;
  box-shadow: 4px 6px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border: 1px solid rgba(0, 0, 0, 0.1);
}

.tile-timer {
  display: flex;
  align-items: center;
}

.tile-timer .emoji {
  font-size: 45px;
  margin-right: 18px;
}

.tile-footer {
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tile-footer h4 {
  margin-top: 0px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 10px;
  margin-bottom: 10px;
  color: rgb(0, 156, 31);
}

.tile h3 {
  margin-top: 0;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 18px;
  font-weight: 400;
  color: rgb(41, 41, 41);
}

.tile-footer button {
  grid-area: button;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 25px;
  padding-right: 25px;
  margin-bottom: 10px;
  margin-right: 10px;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
  background-color: rgb(48, 37, 255);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 15px;
  align-self: center;
  transition: background-color 0.3s ease;
}

.tile-footer button:hover {
  background-color: #b730fa;
}

.timer {
  margin: 0;
  font-size: 18px;
  font-weight: 600;
  color: #555;
}
